@font-face {
    font-family: "iransans";
    src: url("../fonts/IRANSansMobile.eot");
    src: url("../fonts/IRANSansMobile.eot") format("embedded-opentype"), url("../fonts/IRANSansMobile.woff2") format("woff2"), url("../fonts/IRANSansMobile.woff") format("woff"), url("../fonts/IRANSansMobile.ttf") format("truetype"), url("../fonts/IRANSansMobile.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    direction: rtl;
    font-family: iransans;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0px;
}

a {
    text-decoration: none;
}